<!--Footer-->

<footer id="main-footer" class="py-3 bg-dark text-white text-center">
  <div class="container">
    <div class="d-md-flex justify-content-between">
      <div class="mr-5">
        Copyright &copy; <span class="year"></span> DB Clinic
      </div>
      <div class="">
        <i class="fas fa-phone text-primary1"></i> (333)-444-5555
        <span class="mx-3">|</span>
        <i class="fas fa-envelope-open text-primary1"></i> contact@dbclinic.co
        <span class="mx-3">|</span>
        <a href="#"> <i class="fab fa-twitter text-primary1"></i> </a>
        <a href="#"> <i class="fab fa-facebook text-primary1"></i> </a>
        <a href="#"> <i class="fab fa-linkedin text-primary1"></i> </a>
        <a href="#"> <i class="fab fa-instagram text-primary1"></i> </a>
        <a href="#"> <i class="fab fa-pinterest text-primary1"></i> </a>
      </div>
    </div>
  </div>
</footer>
