{% load static %}
<!--Navbar-->

<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary1 py-3 res-nav "
>
  <div class="container">
    <div class="mr-auto">
      <a class="navbar-brand d-lg-none" href="#"
        ><img
          class="pb-2"
          src="{% static 'img/dblogo.png' %}"
          height="50px"
          width="40px"
          alt="Logo"
        />
        <span class="h2 res-nav">DB Clinic</span></a
      >
    </div>
    <button
      class="navbar-toggler custom-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item 
            {% if '/' == request.path %}
              active
            {% endif %}
        ">
          <a class="nav-link" href="{% url 'index' %}"
            ><span class="res-nav">Home</span>
          </a>
        </li>
        <li class="nav-item
            {% if 'doctor' in request.path %}
              active
            {% endif %}
        ">
          <a class="nav-link" href="{% url 'doctors' %}"
            ><span class="res-nav">Doctors</span></a
          >
        </li>
        <li class="nav-item
            {% if 'pharmacy' in request.path %}
              active
            {% endif %} 
        ">
          <a class="nav-link" href="{% url 'pharmacy' %}"
            ><span class="res-nav">Pharmacy</span></a
          >
        </li>
        <li class="nav-item
            {% if 'contact' in request.path %}
              active
            {% endif %}
        ">
          <a class="nav-link" href="{% url 'contact' %}"><span class="res-nav">Contact</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item mr-3
            {% if 'dashboard' in request.path %}
              active
            {% endif %}
          ">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <span class="res-nav">Welcome {{ user.username }} (dashboard) </span></a
            >
          </li>
          <li class="nav-item mr-3">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
              <i class="fas fa-sign-out-alt res-nav"></i><span class="res-nav"> Logout</span>
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
        {% else %}
          <li class="nav-item mr-3
            {% if 'register' in request.path %}
              active
            {% endif %}
          ">
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus res-nav"></i>
              <span class="res-nav">Register</span></a
            >
          </li>
          <li class="nav-item mr-3
              {% if 'login' in request.path %}
                active
              {% endif %}
          ">
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt res-nav"></i>

              <span class="res-nav">Login</span></a
            >
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
