{% extends 'base.html' %}
{% load static %}
{% block content %}


<section>
        <div
          class="background-pharmacy"
          style="background-image:url({% static 'img/dashboard.jpeg' %})"
        >
        <div class="dark-overlay">
          <div class="py-5">
            <div class="container">
              <h1 class="display-5 text-light p-2 my-5 d-inline">
                User Dashboard
              </h1>
              <div class="text-light px-3 mt-2">
                    Manage your DB Clinic account
                </div>
            </div>
          </div>
        </div>
      </div>
</section>

<div class="mt-2"></div>
<!--Alerts-->
{% include 'partials/_alerts.html' %}
  

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}" class="text-dark">
                <i class="fas fa-home"></i> Home</a>
            </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
</section>

<div class="container mt-4">
    <h2>Welcome {{ user.username }}</h2>
    <p class="lead mt-4">Here are your upcoming appointments</p>

    <table class="table">
            <thead>
              <tr>
                <th scope="col">Doctor</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% if user_appointments %}
                    {% for user_appointment in user_appointments %}
                        <tr>
                            <th scope="row">{{ user_appointment.schedule.doctor }}</th>
                            <td>{{ user_appointment.schedule.appointment_date }}</td>
                            <td>{{ user_appointment.schedule.time }}</td>
                            <td>
                                <form action="{% url 'cancel_appointment' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="appointment_id" value="{{ user_appointment.id }}">
                                    <input type="submit" class="btn btn-outline-dark" value="Cancel Appointment">
                                </form>
                             </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No upcoming appointment</td>
                    </tr>
                {% endif %}
            </tbody>
          </table>

        <p class="mt-5 lead">Your Orders</p>

        <table class="table mb-4">
            <thead>
              <tr>
                <th scope="col">Medicine</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date ordered</th>
                <th scope="col">Cost (per quantity)</th>
              </tr>
            </thead>
            <tbody>
                {% if user_orders %}
                    {% for user_order in user_orders %}
                        <tr>
                          <th scope="row">{{ user_order.medicine }}</th>
                          <td>{{ user_order.quantity }}</td>
                          <td>{{ user_order.order_date }}</td>
                          <td>{{ user_order.medicine.medCost }}$</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4"> You have not ordered any medicine yet</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    

</div>
    

<div class="container">

</div>


{% endblock %}