{% extends 'base.html' %} {% block content %} {% load static %}
<div
  class="background_image"
  style="background-image:url({% static 'img/landing.jpg' %})"
>
  <div class="container text-light pt-3">
    <h1 class="display-4 mt-5 pt-5 text-center">
      We Care for Your Health Every Moment
    </h1>
    <p class="lead text-center mt-4 d-none d-sm-block">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
      explicabo dolore numquam quo. Hic facere, tempora accusantium suscipit
      saepe, libero autem quam ab sint, optio perferendis maiores unde rem
      doloribus?
    </p>
  </div>
</div>

<section>
  <div class="container">
    <h2 class="display-5 text-center my-5 py-4">Best Selling Medicines</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/random/300x200"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">$15</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Medicine Name</h4>
            <hr />
            <a
              class="btn bg-primary1 text-light btn-block"
              href="https://www.google.com/"
              >Purchase Medicine</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/random/300x200"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">$15</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Medicine Name</h4>
            <hr />
            <a
              class="btn bg-primary1 text-light btn-block"
              href="https://www.google.com/"
              >Purchase Medicine</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/random/300x200"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">$15</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Medicine Name</h4>
            <hr />
            <a
              class="btn bg-primary1 text-light btn-block"
              href="https://www.google.com/"
              >Purchase Medicine</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light2 pb-5">
  <div class="container">
    <h2 class="display-5 text-center my-5 py-4">Recently Added Medicines</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/random/300x200"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">$15</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Medicine Name</h4>
            <hr />
            <a
              class="btn bg-primary1 text-light btn-block"
              href="https://www.google.com/"
              >Purchase Medicine</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/random/300x200"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">$15</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Medicine Name</h4>
            <hr />
            <a
              class="btn bg-primary1 text-light btn-block"
              href="https://www.google.com/"
              >Purchase Medicine</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/random/300x200"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">$15</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Medicine Name</h4>
            <hr />
            <a
              class="btn bg-primary1 text-light btn-block"
              href="https://www.google.com/"
              >Purchase Medicine</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div
    class="background_image2"
    style="background-image:url(https://colorlib.com/preview/theme/medical/img/hero-bg.jpg)"
  >
    <div class="overlay-bg text-light">
      <div class="container text-center py-5">
        <h2>Our Medical Department</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                  alt=""
                />
                <h3 class="text-dark">Cardiology</h3>
                <p class="lead text-dark">Doc Name</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                  alt=""
                />
                <h3 class="text-dark">Cardiology</h3>
                <p class="lead text-dark">Doc Name</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                  alt=""
                />
                <h3 class="text-dark">Cardiology</h3>
                <p class="lead text-dark">Doc Name</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                  alt=""
                />
                <h3 class="text-dark">Cardiology</h3>
                <p class="lead text-dark">Doc Name</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                  alt=""
                />
                <h3 class="text-dark">Cardiology</h3>
                <p class="lead text-dark">Doc Name</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                  alt=""
                />
                <h3 class="text-dark">Cardiology</h3>
                <p class="lead text-dark">Doc Name</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container text-center py-5">
          <a href="{% url 'doctors' %}" class="btn bg-primary1 px-4 text-light">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
