{% extends 'base.html' %} {% block content %} {% load static %}
<div
  class="background_image"
  style="background-image:url({% static 'img/landing.jpg' %})"
>
<div class="dark-overlay-index">
  {% include 'partials/_alerts.html' %}
  <div class="container text-light pt-3">
    <h1 class="display-4 mt-5 pt-5 text-center">
      We Care for Your Health Every Moment
    </h1>
    <p class="lead text-center mt-4 d-none d-sm-block">
      We operate with the team of physicians who specialize in Cardiology, Urology, Dental Care, Eye Care, Neurology and Plastic Surgery. <br> We also offer a wide range of medical services through our pharmacy. Just confirm your orders online and pickup your items whenever you visit our clinic
    </p>
  </div>
</div>
</div>

<section>
  <div class="container">
    <h2 class="display-5 text-center my-5 py-4">Most Sold Medicines</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top medicineImage"
            src="{{ most_sold_medicines.0.medImage.url }}"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">${{ most_sold_medicines.0.medCost }}</h4>
          </div>
          <div class="card-body">
              <div class="text-center text-lead font-weight-bold">
                  <i class="fas fa-hashtag"></i> 1 
                </div>
            <h4 class="card-title text-center">{{ most_sold_medicines.0.medName }}</h4>
            <hr />
            <a
              class="btn btn-dark btn-block"
              href="{% url 'pharmacy' %}"
              >Pharmacy <i class="fas fa-angle-double-right"></i></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top medicineImage"
            src="{{ most_sold_medicines.1.medImage.url }}"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">${{ most_sold_medicines.1.medCost }}</h4>
          </div>
          <div class="card-body">
              <div class="text-center text-lead font-weight-bold">
                  <i class="fas fa-hashtag"></i> 2
                </div>
            <h4 class="card-title text-center">{{ most_sold_medicines.1.medName }}</h4>
            <hr />
            <a
              class="btn btn-dark btn-block"
              href="{% url 'pharmacy' %}"
              >Pharmacy <i class="fas fa-angle-double-right"></i></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card listing-preview">
          <img
            class="card-img-top medicineImage"
            src="{{ most_sold_medicines.2.medImage.url }}"
            alt=""
          />
          <div class="card-img-overlay">
            <h4 class="card-title text-light bg-primary1 d-inline px-2">${{ most_sold_medicines.2.medCost }} </h4>
          </div>
          <div class="card-body">
            <div class="text-center text-lead font-weight-bold">
                <i class="fas fa-hashtag"></i> 3 
              </div>
            <h4 class="card-title text-center">{{ most_sold_medicines.2.medName }}</h4>
            <hr />
            <a
              class="btn btn-dark btn-block"
              href="{% url 'pharmacy' %}"
              >Pharmacy <i class="fas fa-angle-double-right"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light2 pb-5">
  <div class="container">
    <h2 class="display-5 text-center my-5 py-4">Recently Added Medicines</h2>
    <div class="row">
      {% if newMedicines %}
        {% for newMed in newMedicines %}
          <div class="col-md-4">
            <div class="card listing-preview">
              <img
                class="card-img-top medicineImage"
                src="{{ newMed.medImage.url }}"
                alt=""
              />
              <div class="card-img-overlay">
                <h4 class="card-title text-light bg-primary1 d-inline px-2">${{ newMed.medCost }}</h4>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">{{ newMed.medName }}</h4>
                <div class="text-primary1">
                  <i class="fas fa-clock"></i> {{ newMed.medDate | timesince }} 
                </div>
                <hr />
                <a
              class="btn btn-dark btn-block"
              href="{% url 'pharmacy' %}"
              >Pharmacy <i class="fas fa-angle-double-right"></i></a
            >
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p class="text-center">No Medicines Available</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<section>
  <div
    class="background_image2"
    style="background-image:url({% static 'img/hero-bg.jpg' %})"
  >
    <div class="overlay-bg text-light">
      <div class="container text-center py-5">
        <h2>Our Medical Department</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  class="min-height"
                  src="{% static 'img/d-icon1.png' %}"
                  alt=""
                />
                <h3 class="text-dark my-4">Cardiology</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  class="min-height"
                  src="{% static 'img/d-icon2.png' %}"
                  alt=""
                />
                <h3 class="text-dark my-4">Urology</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  class="min-height"
                  src="{% static 'img/d-icon3.png' %}"
                  alt=""
                />
                <h3 class="text-dark my-4">Dental Care</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  class="min-height"
                  src="{% static 'img/d-icon4.png' %}"
                  alt=""
                />
                <h3 class="text-dark my-4">Eye Care</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  class="min-height"
                  src="{% static 'img/d-icon5.png' %}"
                  alt=""
                />
                <h3 class="text-dark my-4">Neurology</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="py-3 px-1">
              <div class="bg-light p-3 overlay-light text-center">
                <img
                  class="min-height"
                  src="{% static 'img/d-icon6.png' %}"
                  alt=""
                />
                <h3 class="text-dark my-4">Plastic Surgery</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="container text-center py-5">
          <a href="{% url 'doctors' %}" class="btn bg-primary1 px-4 text-light">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
