{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
        <div
          class="background-pharmacy"
          style="background-image:url(https://images.pexels.com/photos/305565/pexels-photo-305565.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)"
        >
        <div class="dark-overlay">
          <div class="py-5">
            <div class="container">
              <h1 class="display-5 text-light p-2 my-5 d-inline">
                Doctors
              </h1>
            </div>
          </div>
        </div>
      </div>
      </section>
  
      <section class="py-5 my-5">
        <div class="container text-center">
          <h2>Our Consultants</h2>
          <p class="lead">
            Check out our team of excellent professionals. If they can help you in any way, never hesitage to book an appointment and come visit them during their scheduled times.
          </p>
        </div>
      </section>
  
      <section class="bg-light2 py-5">
        <div class="container">
          <div class="row">
            {% if doctors %}
              {% for doctor in doctors %}
                <div class="col-sm-6 col-lg-4 mb-4">
                  <div class="card text-center">
                    <img
                      class="card-img-top image-bright"
                      src="{{ doctor.photo.url }}"
                      alt="doctor's Image"
                    />
                    <div
                      class="card-img-overlay d-flex flex-column-reverse text-light"
                    >
                      <a href="{% url 'doctor' doctor.docName %}" class="btn bg-primary1 text-light">View More</a>
                      <h4 class="card-title">{{ doctor.docType }}</h4>
                      <p class="card-text">
                        <small class="text-light">{{ doctor.docName }}</small>
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </section>
  

{% endblock %}