<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DB Clinic</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <div class="container py-3 d-none d-lg-block header_top">
        <div class="d-flex">
          <div class="mr-auto">
            <img
              class="pb-2"
              src="img/dblogo.png"
              height="50px"
              width="40px"
              alt="Logo"
            />
            <span class="h2">DB Clinic</span>
          </div>
          <span class="pt-2 ">
            <i class="fas text-success fa-phone"></i> (333)-444-5555
            <span class="mx-3">|</span>
            <i class="fas fa-envelope-open text-success"></i>
            contact@dbclinic.co <span class="mx-3">|</span>
            <a href="#"> <i class="fab fa-twitter text-dark"></i> </a>
            <a href="#"> <i class="fab fa-facebook text-dark"></i> </a>
            <a href="#"> <i class="fab fa-linkedin text-dark"></i> </a>
            <a href="#"> <i class="fab fa-instagram text-dark"></i> </a>
            <a href="#"> <i class="fab fa-pinterest text-dark"></i> </a>
          </span>
        </div>
      </div>
    </header>

    <nav
      class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary1 py-3 res-nav "
    >
      <div class="container">
        <div class="mr-auto">
          <a class="navbar-brand d-lg-none" href="#"
            ><img
              class="pb-2"
              src="img/dblogo.png"
              height="50px"
              width="40px"
              alt="Logo"
            />
            <span class="h2 res-nav">DB Clinic</span></a
          >
        </div>
        <button
          class="navbar-toggler custom-toggler"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="home.html"
                ><span class="res-nav">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Doctors.html"
                ><span class="res-nav">Doctors</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Pharmacy.html"
                ><span class="res-nav">Pharmacy</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><span class="res-nav">Contact</span></a
              >
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
              <a class="nav-link" href="register.html">
                <i class="fas fa-user-plus res-nav"></i>
                <span class="res-nav">Register</span></a
              >
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="login.html">
                <i class="fas fa-sign-in-alt res-nav"></i>

                <span class="res-nav">Login</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="background_image" style="background-image:url(img/landing.jpg)">
      <div class="container text-light pt-3">
        <h1 class="display-4 mt-5 pt-5 text-center">
          We Care for Your Health Every Moment
        </h1>
        <p class="lead text-center mt-4 d-none d-sm-block">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          explicabo dolore numquam quo. Hic facere, tempora accusantium suscipit
          saepe, libero autem quam ab sint, optio perferendis maiores unde rem
          doloribus?
        </p>
      </div>
    </div>

    <section>
      <div class="container">
        <h2 class="display-5 text-center my-5 py-4">Best Selling Medicines</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card listing-preview">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/random/300x200"
                alt=""
              />
              <div class="card-img-overlay">
                <h4 class="card-title text-light bg-primary1 d-inline px-2">
                  $15
                </h4>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">Medicine Name</h4>
                <hr />
                <a
                  class="btn bg-primary1 text-light btn-block"
                  href="https://www.google.com/"
                  >Purchase Medicine</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card listing-preview">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/random/300x200"
                alt=""
              />
              <div class="card-img-overlay">
                <h4 class="card-title text-light bg-primary1 d-inline px-2">
                  $15
                </h4>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">Medicine Name</h4>
                <hr />
                <a
                  class="btn bg-primary1 text-light btn-block"
                  href="https://www.google.com/"
                  >Purchase Medicine</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card listing-preview">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/random/300x200"
                alt=""
              />
              <div class="card-img-overlay">
                <h4 class="card-title text-light bg-primary1 d-inline px-2">
                  $15
                </h4>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">Medicine Name</h4>
                <hr />
                <a
                  class="btn bg-primary1 text-light btn-block"
                  href="https://www.google.com/"
                  >Purchase Medicine</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light2 pb-5">
      <div class="container">
        <h2 class="display-5 text-center my-5 py-4">
          Recently Added Medicines
        </h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card listing-preview">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/random/300x200"
                alt=""
              />
              <div class="card-img-overlay">
                <h4 class="card-title text-light bg-primary1 d-inline px-2">
                  $15
                </h4>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">Medicine Name</h4>
                <hr />
                <a
                  class="btn bg-primary1 text-light btn-block"
                  href="https://www.google.com/"
                  >Purchase Medicine</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card listing-preview">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/random/300x200"
                alt=""
              />
              <div class="card-img-overlay">
                <h4 class="card-title text-light bg-primary1 d-inline px-2">
                  $15
                </h4>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">Medicine Name</h4>
                <hr />
                <a
                  class="btn bg-primary1 text-light btn-block"
                  href="https://www.google.com/"
                  >Purchase Medicine</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card listing-preview">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/random/300x200"
                alt=""
              />
              <div class="card-img-overlay">
                <h4 class="card-title text-light bg-primary1 d-inline px-2">
                  $15
                </h4>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">Medicine Name</h4>
                <hr />
                <a
                  class="btn bg-primary1 text-light btn-block"
                  href="https://www.google.com/"
                  >Purchase Medicine</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div
        class="background_image2"
        style="background-image:url(https://colorlib.com/preview/theme/medical/img/hero-bg.jpg)"
      >
        <div class="overlay-bg text-light">
          <div class="container text-center py-5">
            <h2>Our Medical Department</h2>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="py-3 px-1">
                  <div class="bg-light p-3 overlay-light text-center">
                    <img
                      src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                      alt=""
                    />
                    <h3 class="text-dark">Cardiology</h3>
                    <p class="lead text-dark">Doc Name</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="py-3 px-1">
                  <div class="bg-light p-3 overlay-light text-center">
                    <img
                      src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                      alt=""
                    />
                    <h3 class="text-dark">Cardiology</h3>
                    <p class="lead text-dark">Doc Name</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="py-3 px-1">
                  <div class="bg-light p-3 overlay-light text-center">
                    <img
                      src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                      alt=""
                    />
                    <h3 class="text-dark">Cardiology</h3>
                    <p class="lead text-dark">Doc Name</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="py-3 px-1">
                  <div class="bg-light p-3 overlay-light text-center">
                    <img
                      src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                      alt=""
                    />
                    <h3 class="text-dark">Cardiology</h3>
                    <p class="lead text-dark">Doc Name</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="py-3 px-1">
                  <div class="bg-light p-3 overlay-light text-center">
                    <img
                      src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                      alt=""
                    />
                    <h3 class="text-dark">Cardiology</h3>
                    <p class="lead text-dark">Doc Name</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="py-3 px-1">
                  <div class="bg-light p-3 overlay-light text-center">
                    <img
                      src="https://colorlib.com/preview/theme/medicare2/img/department/d-icon1.png"
                      alt=""
                    />
                    <h3 class="text-dark">Cardiology</h3>
                    <p class="lead text-dark">Doc Name</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container text-center py-5">
              <a href="#" class="btn bg-primary1 px-4 text-light">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="main-footer" class="py-3 bg-dark text-white text-center">
      <div class="container">
        <div class="d-md-flex justify-content-between">
          <div class="mr-5">
            Copyright &copy; <span class="year"></span> DB Clinic
          </div>
          <div class="">
            <i class="fas fa-phone text-primary1"></i> (333)-444-5555
            <span class="mx-3">|</span>
            <i class="fas fa-envelope-open text-primary1"></i>
            contact@dbclinic.co <span class="mx-3">|</span>
            <a href="#"> <i class="fab fa-twitter text-primary1"></i> </a>
            <a href="#"> <i class="fab fa-facebook text-primary1"></i> </a>
            <a href="#"> <i class="fab fa-linkedin text-primary1"></i> </a>
            <a href="#"> <i class="fab fa-instagram text-primary1"></i> </a>
            <a href="#"> <i class="fab fa-pinterest text-primary1"></i> </a>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
