.bg-primary1 {
  background: #32c69a;
}

.bg-light2 {
  background: #f4f8fb;
}

.text-primary1 {
  color: #32c69a;
}

.background_image {
  width: 100%;
  height: 86vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.listing-preview a {
  position: relative;
}

.background_image2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay-bg {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.image-bright {
  filter: brightness(70%);
}

.overlay-light {
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.overlay-light:hover {
  opacity: 1;
  filter: alpha(opacity=50);
}

@media (max-width: 991px) {
  .res-nav {
    background: #fff;
    color: black;
  }
  .custom-toggler.navbar-toggler {
    border-color: #32c69a;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.background-pharmacy {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.filter {
  font-weight: 300;
}
